{
  "swagger": "2.0",
  "info": {
    "title": "Azure IP Ranges-Service Tags",
    "description": "This connector provides custom actions to retrieve and process Azure IP ranges and service tag information, including generating IP rules and reducing CIDR blocks.",
    "version": "1.0",
    "contact": {
      "name": "Richard Wilson",
      "url": "https://www.richardawilson.com",
      "email": "richard.a.wilson@microsoft.com"
    }
  },
  "host": "www.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/en-us/download/details.aspx": {
      "get": {
        "summary": "Get direct download URL",
        "description": "Retrieves the direct download URL based on the provided ID parameter.",
        "operationId": "GetDirectDownloadUrl",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Public Cloud",
              "US Government",
              "China Cloud"
            ],
            "description": "Select one of the following options: Public Cloud, US Government, China Cloud",
            "x-ms-summary": "ID"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "downloadUrl": {
                  "type": "string",
                  "description": "downloadUrl",
                  "x-ms-summary": "Download URL"
                }
              }
            }
          }
        }
      }
    },
    "/en-us/download/servicetags.aspx": {
      "get": {
        "summary": "Get service tags",
        "description": "Retrieves the service tags from the downloaded file content.",
        "operationId": "GetServiceTags",
        "parameters": [
          {
            "name": "downloadUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Parameter downloadUrl",
            "x-ms-summary": "Download URL"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "downloadUrl": {
                  "type": "string",
                  "description": "downloadUrl",
                  "x-ms-summary": "Download URL"
                }
              }
            }
          }
        }
      }
    },
    "/en-us/download/allfilecontents.aspx": {
      "get": {
        "summary": "Get all file contents",
        "description": "Retrieves all file contents available at the specified download URL.",
        "operationId": "GetAllFileContents",
        "parameters": [
          {
            "name": "downloadUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Parameter downloadUrl",
            "x-ms-summary": "Download URL"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "downloadUrl": {
                  "type": "string",
                  "description": "downloadUrl",
                  "x-ms-summary": "Download URL"
                }
              }
            }
          }
        }
      }
    },
    "/en-us/download/ipaddresses.aspx": {
      "get": {
        "summary": "Get IP addresses by service tag",
        "description": "Extracts and returns the IP addresses for a specified service tag and IP version filter from the downloaded file.",
        "operationId": "GetIPAddressesByServiceTag",
        "parameters": [
          {
            "name": "downloadUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "URL to download the file content",
            "x-ms-summary": "Download URL"
          },
          {
            "name": "serviceTag",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The service tag name",
            "x-ms-summary": "Service Tag"
          },
          {
            "name": "ipVersion",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "IPv4",
              "IPv6"
            ],
            "default": "IPv4",
            "description": "IP Version filter. Allowed values: All, IPv4, IPv6. Default is IPv4.",
            "x-ms-summary": "IP Version"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ipAddresses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of IP addresses for the specified service tag",
                  "x-ms-summary": "IP Addresses"
                },
                "count": {
                  "type": "integer",
                  "description": "Count of IP addresses for the specified service tag",
                  "x-ms-summary": "Count"
                }
              }
            }
          }
        }
      }
    },
    "/en-us/download/cidrreducer.aspx": {
      "post": {
        "summary": "Reduce CIDR values",
        "description": "Reduces the provided list of CIDR values based on the maximum prefix constraint and returns the distinct reduced list along with counts.",
        "operationId": "CIDRReducer",
        "parameters": [
          {
            "name": "cidrValues",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Comma separated list of CIDR values",
            "x-ms-summary": "CIDR Values"
          },
          {
            "name": "maxPrefix",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum allowed prefix length",
            "x-ms-summary": "Max Prefix"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "reducedValues": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Reduced distinct list of CIDR values",
                  "x-ms-summary": "Reduced Values"
                },
                "originalCount": {
                  "type": "integer",
                  "description": "Original count of CIDR values",
                  "x-ms-summary": "Original Count"
                },
                "reducedCount": {
                  "type": "integer",
                  "description": "Reduced count of CIDR values",
                  "x-ms-summary": "Reduced Count"
                }
              }
            }
          }
        }
      }
    },
    "/en-us/download/iprules.aspx": {
      "post": {
        "summary": "Generate IP rules",
        "description": "Generates IP rules by pairing each provided IP address or CIDR with the specified action (Allow or Deny).",
        "operationId": "GenerateIPRules",
        "parameters": [
          {
            "name": "ipList",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Array of IP addresses or CIDR values",
            "x-ms-summary": "IP List"
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Allow",
              "Deny"
            ],
            "default": "Allow",
            "description": "Indicates whether to Allow or Deny the IP addresses.",
            "x-ms-summary": "Action"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The IP address or CIDR value",
                    "x-ms-summary": "Value"
                  },
                  "action": {
                    "type": "string",
                    "description": "The rule action (Allow or Deny)",
                    "x-ms-summary": "Action"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}